# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python compiled
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.egg-info/

# IDE
.vscode/
.idea/

# ChromaDB local database
chroma_db/

# Local project notes and PDFs (not for submission)
project_info/
*.pdf
